<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Particles.js library -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <!-- Add any additional stylesheets or scripts if needed -->
  <div id="particles-js"></div>
  <link rel="stylesheet" href="/css/exe.css">
  
  <title>Physical Exercises</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/cover">Back</a>
    <a class="navbar-brand mx-auto" href="#">Physical Exercises</a>
  </nav>

  <section class="wrapper">
    <div class="container">

      
      <div class="row">
        <div class="col text-center mb-5">
          <h1 class="display-4 font-weight-bolder"></h1>
          
        </div>
      </div>

      <div class="row">
        <!-- Card 1 -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-dark card-has-bg click-col" style="background-image:url('images/1.png');">
            <img class="card-img d-none" src="/images/images/1.png" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                 <h2 class="card-title mt-0 "><a class="text-dark" href="https://betterme.world/articles/does-walking-help-period-cramps/">Walking</a></h4>
                 <small><i class="far fa-clock"></i> A brisk walk can help improve circulation and reduce bloating.</small>  
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-dark card-has-bg click-col" style="background-image:url('images/4.png');">
            <img class="card-img d-none" src="/images/images/4.png" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h2 class="card-title mt-0 "><a class="text-dark" href="https://theshivyoga.com/balasana/">Child's Pose (Balasana)</a></h4>
                  <small><i class="far fa-clock"></i> This pose can help relieve lower back pain.</small>
              </div>
              
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-dark card-has-bg click-col" style="background-image:url('images/3.png');">
            <img class="card-img d-none" src="/images/images/3.png" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h2 class="card-title mt-0 "><a class="text-dark" href="https://www.yogapedia.com/yoga-poses/seated-cat-cow-pose/11/11583">Cat-Cow Stretch (Marjaryasana-Bitilasana)</a></h4>
                  <small><i class="far fa-clock"></i> This dynamic yoga flow can help stretch the spine and alleviate discomfort.</small>
              </div>
              
            </div>
          </div>
        </div>
      </div> <!-- End of the first row -->

      <div class="row">
        <!-- Card 4 -->
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-dark card-has-bg click-col" style="background-image:url('images/2.png');">
              <img class="card-img d-none" src="/images/images/2.png" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <h2 class="card-title mt-0 "><a class="text-dark" href="https://www.fitsri.com/yoga-mudras/viparita-karani">Legs Up the Wall (Viparita Karani)</a></h4>
                    <small><i class="far fa-clock"></i> This pose may help reduce bloating and ease tension in the pelvis.</small>
                </div>
                
              </div>
            </div>
          </div>
  
          <!-- Card 5 -->
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-dark card-has-bg click-col" style="background-image:url('images/6.png');">
              <img class="card-img d-none" src="/images/images/6.png" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <h2 class="card-title mt-0 "><a class="text-dark" href="https://www.shape.com/fitness/workouts/best-exercises-for-period-cramps">Gentle Stretching</a></h4>
                    <small><i class="far fa-clock"></i> Include stretches for the hips, lower back, and hamstrings to reduce tension.</small>
                </div>
                
              </div>
            </div>
          </div>
  
          <!-- Card 6 -->
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card text-dark card-has-bg click-col" style="background-image:url('images/5.png');">
              <img class="card-img d-none" src="/images/images/5.png" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <h2 class="card-title mt-0 "><a class="text-dark" href="https://innercamp.com/6-best-breathing-practices-for-menstrual-pain-and-pms/">Deep Breathing</a></h4>
                    <small><i class="far fa-clock"></i> Practice deep belly breathing to help relax your body and reduce stress.</small>
                </div>
                
              </div>
            </div>
          </div>
      </div>

    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</div>

</body>

</html>
