<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Myth Busters</title>
  <meta content="" name="description">
  <meta content="" name="keywo rds">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/faq.css" rel="stylesheet">

</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container-fluid d-flex align-items-center justify-content-between">
  
        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
         
         
        </a>
  
        <!-- Nav Menu -->
        <nav id="navmenu" class="navmenu">
          <ul>
            
                
           
          </ul>
  
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav><!-- End Nav Menu -->
  
      </div>
    </header><!-- End Header -->
  
    <main id="main">
  
      <!-- Hero Section - Home Page -->
      
  
      </section><!-- End Stats Section -->
  
     
  
      
  
      
      <!-- Faq Section - Home Page -->
      <section id="faq" class="faq">
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="content px-xl-5">
                <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
                <p>
                  What users Asked us Most of the Time??
                </p>
              </div>
            </div>
  
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
  
              <div class="faq-container">
                <div class="faq-item faq-active">
                  <h3><span class="num">1.</span> <span>When will I get my first period?</span></h3>
                  <div class="faq-content">
                    <p>"The onset of the first menstrual period, or menarche, varies widely among girls but is generally observed between the ages of 10 and 16, as supported by numerous studies on pubertal development."</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">2.</span> <span>How does menstrual cycle works and how to know the ovulation period?</span></h3>
                  <div class="faq-content">
                    <p>"The menstrual cycle involves menstruation, follicular and luteal phases, with ovulation typically occurring around day 14. Ovulation can be identified by tracking methods such as calendar tracking, BBT, cervical mucus changes, or using ovulation predictor kits."</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">3.</span> <span>Is it normal to have irregular periods as a teenager?</span></h3>
                  <div class="faq-content">
                    <p>"Yes, it's common for teenagers to experience irregular periods during the first few years after menarche due to hormonal fluctuations and the establishment of a regular menstrual cycle. However, persistent irregularities may warrant medical attention."</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">4.</span> <span>Do period cramps get better with time?</span></h3>
                  <div class="faq-content">
                    <p>For many women, period cramps often improve with age and may become less severe after childbirth or as they get older, but individual experiences vary.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">5.</span> <span>Can I swim, play sports, or engage in physical activities during my period?</span></h3>
                  <div class="faq-content">
                    <p>Teenage girls may have concerns about participating in sports or physical activities while menstruatingAbsolutely, engaging in swimming, sports, and physical activities during your period is completely safe and can even provide relief from menstrual symptoms for some individuals. Using appropriate menstrual products, such as tampons or menstrual cups, can facilitate comfortable participation in such activities.</p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
                <div class="faq-item">
                  <h3><span class="num">5.</span> <span>What to do to treat irregular periods ( never got periods on time )??</span></h3>
                  <div class="faq-content">
                    <p> Maintain a healthy diet, regular exercise, and manage stress for overall menstrual health.Address any hormonal imbalances through medication or lifestyle changes.Consult a healthcare professional to identify the underlying cause of irregular periods. </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div><!-- End Faq item-->
  
              </div>
  
            </div>
          </div>
  
        </div>
  
      </section><!-- End Faq Section -->

      <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
    </body>

</html>