<!DOCTYPE html>
<html>
  <head>
    <title>PCOS Prediction</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
      html, body {
      min-height: 100%;
      }
      body{
        background: linear-gradient(454deg,#A91B60 ,#4C5270);
      }
      body, div, form, input, select, textarea, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      position: absolute;
      margin: 0;
      font-size: 36px;
      color: #fff;
      z-index: 2;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      form {
      width: 50%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 20px 0 #333; 
      }
      .banner {
      position: relative;
      height: 210px;
      background: darkslateblue;      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, textarea, select {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      select {
      width: 100%;
      padding: 7px 0;
      background: transparent;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color: #333;
      }
      .item input:hover, .item select:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #333;
      color: #333;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a9a9a9;
      }
      .item i {
      right: 1%;
      top: 30px;
      z-index: 1;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
      right: 0;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      }
      input[type="time"]::-webkit-inner-spin-button {
      margin: 2px 22px 0 0;
      }
      input[type=radio], input.other {
      display: none;
      }
      label.radio {
      position: relative;
      display: inline-block;
      margin: 5px 20px 10px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      label.radio:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #ccc;
      }
      #radio_5:checked ~ input.other {
      display: block;
      }
      input[type=radio]:checked + label.radio:before {
      border: 2px solid #444;
      background: #444;
      }
      label.radio:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 5px;
      width: 7px;
      height: 4px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #444;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: #666;
      }
      #result{
        font-size: 25px;
        font-weight: bold;
      }
      @media (min-width: 568px) {
      .name-item, .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input, .city-item input {
      width: calc(50% - 20px);
      }
      .city-item select {
      width: calc(50% - 8px);
      }
      }
    </style>
  </head>
  <body>
    <div class="testbox">
      <form id="pcForm" action="{{ url_for('predict') }}">
        <div class="banner">
          <h1>PCOS Prediction Form</h1>
        </div>
        <center><h3>Instructions to be followed</h3></center>
        <p>1. Kindly follow the units mentioned while entering the features.</p>
        <p>2. Fill in all the features for precise prediction.</p>
        <p>3. For every Yes/No questions *** ,  Indicate Yes = 1 ; No = 0</p>
        <p>4. In Cycle(Irregular/Regular) option Regular = 2, Irregular = 4.</p>
        <p>5	Blood Group indications **		A+ = 11, 		
          A- = 12, 			
          B+ = 13, 			
          B- = 14, 			
          O+ =15,  			
          O- = 16, 			
          AB+ =17, 			
          AB- = 18 			
    </p><br><br>
        <div class="item">
            <label for="Age">Age(yrs):</label>
            <input type="number" id="Age" name=" Age (yrs)" required>      
        </div>

        <div class="item">
            <label for="Weight(Kg)">Weight (Kg):</label>
            <input type="number" id="Weight(Kg)" name="Weight (Kg)" required>      
        </div>

        <div class="item">
            <label for="Height(Cm)">Height(Cm):</label>
            <input type="number" id="Height(Cm)" name="Height(Cm) " required>      
        </div>

        <div class="item">
            <label for="BMI">BMI:</label>
            <input type="number" id="BMI" name="BMI" required>      
        </div>


        <div class="item">
            <label for="Blood_Group">Blood Group:</label>
            <select id="Blood_Group" name="Blood Group" required>
              <!-- Dropdown options for company names will be populated dynamically -->
            </select>
        </div>

        <div class="item">
            <label for="Pulse_rate">Pulse rate(bpm):</label>
            <input type="number" id="Pulse_rate" name="Pulse rate(bpm) " required>      
        </div>

        <div class="item">
            <label for="cycle">Cycle(R/I):</label>
            <select id="cycle" name="Cycle(R/I)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        <div class="item">
            <label for="cycle_length">Cycle length(days):</label>
            <input type="number" id="cycle_length" name="Cycle length(days)" required>
        </div>

        <div class="item">
            <label for="marriage">Marraige Status (Yrs):</label>
            <input type="number" id="marriage" name="Marraige Status (Yrs)" required>
        </div>

        <div class="item">
            <label for="pregnant">Pregnant(Y/N):</label>
            <select id="pregnant" name="Pregnant(Y/N)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        <div class="item">
            <label for="abortions">No. of aborptions:</label>
            <input type="number" id="abortions" name="No. of aborptions" required>
        </div>

        <div class="item">
            <label for="hip">Hip(inch):</label>
            <input type="number" id="hip" name="Hip(inch)" required>
        </div>

        <div class="item">
            <label for="waist">Waist(inch):</label>
            <input type="number" id="waist" name="Waist(inch)" required>
        </div>

        <div class="item">
            <label for="waist_hip">Waist:Hip Ratio:</label>
            <input type="number" id="waist_hip" name="Waist:Hip Ratio" required>
        </div>

        <div class="item">
            <label for="weight_gain">Weight gain(Y/N):</label>
            <select id="weight_gain" name="Weight gain(Y/N)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        <div class="item">
            <label for="hair_growth">Hair growth(Y/N):</label>
            <select id="hair_growth" name="hair growth(Y/N)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        <div class="item">
            <label for="skin">Skin darkening (Y/N):</label>
            <select id="skin" name="Skin darkening (Y/N)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        <div class="item">
            <label for="hair_loss">Hair loss(Y/N):</label>
            <select id="hair_loss" name="Hair loss(Y/N)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        <div class="item">
            <label for="pimples">Pimples(Y/N):</label>
            <select id="pimples" name="Pimples(Y/N)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        <div class="item">
            <label for="food">You eat Fast food frequently(Y/N):</label>
            <select id="food" name="Fast food (Y/N)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        <div class="item">
            <label for="Reg_Exercise">Regular Exercise(Y/N):</label>
            <select id="Reg_Exercise" name="Reg.Exercise(Y/N)" required>
              <!-- Dropdown options for fuel types will be populated dynamically -->
            </select>
          
        </div>

        
        <div class="btn-block item">
            <input type="button" value="Predict" onclick="predictPrice()">
        </div>
        <center><div id="result"></div></center>
      </form>
      
    </div>


    <script>
        // Function to populate dropdown options dynamically
        function populateDropdown(id, data) {
          const dropdown = document.getElementById(id);
          for (let item of data) {
            let option = document.createElement("option");
            option.text = item;
            dropdown.add(option);
          }
        }
      
        // Fetch the unique values for dropdown options from the Flask app
        fetch("http://127.0.0.1:5000/flask/get_dropdown_options") // Replace with your Flask app's host and port
          .then((response) => response.json())
          .then((data) => {
            populateDropdown("Blood_Group", data.Blood_Group);
            populateDropdown("cycle", data.cycle);
            populateDropdown("pregnant", data.pregnant);
            populateDropdown("weight_gain", data.weight_gain);
            populateDropdown("hair_growth", data.hair_growth);
            populateDropdown("skin", data.skin);
            populateDropdown("hair_loss", data.hair_loss);
            populateDropdown("pimples", data.pimples);
            populateDropdown("food", data.food);
            populateDropdown("Reg_Exercise", data.Reg_Exercise);
          })
          .catch((error) => console.error("Error:", error));
      
        
        function predictPrice() {
  // Get form data
  var formData = new FormData(document.getElementById("pcForm"));
  var data = {};
  formData.forEach(function (value, key) {
    data[key] = value;
  });

  // Send data to the Flask app for prediction
  fetch("http://127.0.0.1:5000/flask/predict", { // Replace with your Flask app's host and port
    method: "POST",
    body: JSON.stringify(data),
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then(function (response) {
      return response.json();
    })
    .then(function (data) {
      // Display result based on the prediction
      if (data.pcos === 0) {
        document.getElementById("result").innerText =
          "Great news! You do not have much chances for PCOS.";
      } else if (data.pcos === 1) {
        document.getElementById("result").innerText =
          "Caution! You may have PCOS. Please consult a doctor.";
      } else {
        document.getElementById("result").innerText =
          "Invalid prediction value received from the server.";
      }
    })
    .catch(function (error) {
      console.error("Error:", error);
    });
}

      </script>
      

  </body>
</html>
