<%- include("partials/head") -%>

<div class="container">
    <h1> <%= post.postTitle %> </h1>
    <p> <%= post.postBody %> </p>

    <!-- Add any additional details or customize the layout here -->

    <a href="/secrets">Back to Home</a>
</div>

<%- include("partials/foot") -%>
